Package: craftserversetup
Version: 1.27
Maintainer: Enderbyte Programs <enderbyte09@gmail.com>
Homepage: https://github.com/Enderbyte-Programs/CraftServerSetup
Architecture: all
Depends: python3
Installed-Size: 450
Description: A TUI Minecraft Server Maker
 CraftServerSetup is a computer program to make and manage many different types of Minecraft server. CraftServerSetup supports vanilla, spigot, and paper formats. It is a user-friendly command line app so it can be installed on servers and used over SSH.
 