Package: craftserversetup
Version: 1.2.2
Maintainer: Enderbyte Programs <enderbyte09@gmail.com>
Description: A TUI Minecraft Server Maker
Homepage: https://github.com/Enderbyte-Programs/CraftServerSetup
Architecture: all
Depends: python3
